<html>
  <style>
    .completed{
      text-decoration: line-through;
    }
  </style>
  <body ng-app="todo">
    <div ng-controller="todoController">
      <h3>TODO
        <select ng-model="tagFilter" ng-options="tag for tag in tasks.tags">
        </select>
      </h3>
      <ul>
        <li><input type="text" ng-model="task" placeholder="what to do?"><input type="text" ng-model="tags" placeholder="tag1, tag2, .."/> | <button ng-click="addTask(initializeTask(task, tags)); task=null; tags=null"> + </button></li>
        <li ng-repeat="task in tasks | filter: tagFilter  | orderBy:-$index" ng-class="{'completed': task.done}"><input type="checkbox" ng-model="task.done">{{task.title}} | {{task.tags}}</li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="app/todo.js"></script>
  </body>
</html>
